
%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%box-shadow {
	-webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

@function multiplica-fonte($valor-mult){
	@return round($valor-mult * $fonte-padrao);
}

////////////////

@import 'compass/css3';
@import "compass/utilities";


