//cores
$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: #fff;

//fonte padrão
$fonte-padrao: 16px;

//responsive
$break-small: 320px;
$break-normal: 980px;
$break-large: 1200px;
$information-phone: "(max-width: 980px)";


